.App {
  max-width: 100vw; 
  height: 100%;
  background-color: var(--dark-blue);
  background-image: linear-gradient(
    var(--darker-blue),
    var(--dark-blue),
    var(--blue),
    var(--dark-teal),
    var(--teal),
    var(--lime),
    var(--light-lime)
  );
}