body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131316; 
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --light-lime: #cad2c5;
  --lime: #84a98c;
  --teal: #52796f;
  --dark-teal: #354f52;
  --blue: #2f3e46;
  --dark-blue: #09151a;
  --darker-blue: #020c11;
  --darkest-blue: #00090d;
}