.cNavContainer {
  transition: all 1s;
  /* background-color: var(--dark-blue); */
  position: fixed;
  left: 10px;
  top: 10px;
  transform: translate(-110%);
  opacity: 0;
  z-index: 100;
}
.visible {
  transform: translate(0%);
  opacity: 1;
}
.right {
  animation: ArrowFadeIn 1s linear;
  animation-fill-mode: both;
}
.arrow {
  height: 30px;
  width: 30px;
  color: var(--lime);
  left: 3%;
  top: 3%;
  transition: all 1s;
  z-index: 100;
  cursor: pointer;
}
.arrow:hover .arrowSvg{
  filter: drop-shadow(-1px 0 var(--light-lime));
  fill: var(--teal);
}
.hoverStyles {
  color: var(--dark-blue) !important;
  text-decoration: none !important;
  position: relative;
  border-radius: 50%;
  background-color: var(--lime);
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}
.clickAnimation{
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
}
.cNavContainer .clickAnimation:nth-child(1) {
  animation-delay: 0s;
}
.cNavContainer .clickAnimation:nth-child(2) {
  animation-delay: 0.25s;
}
.cNavContainer .clickAnimation:nth-child(3) {
  animation-delay: .5s;
}
.cNavContainer .clickAnimation:nth-child(4) {
  animation-delay: .75s;
}
.active,
.hoverStyles:hover {
  background-color: var(--teal);
  color: var(--light-lime) !important;
}
.hoverStyles h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: absolute;
  
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translate(-110%);
  }
  85% {
    opacity: 1;
    transform: translate(10%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes ArrowFadeIn {
  0% {
    opacity: 0;
    transform: translateX(0px) rotate(0deg)
  }
  85% {
    opacity: 1;
    transform: translateX(160px) rotate(140deg)
  }
  100% {
      transition: all 1s !important;
      transform: translateX(155px) rotate(180deg)
  }
}